.field-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 50px auto; }

.field {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .field__row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .field__item {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 51px;
    height: 51px;
    cursor: pointer;
    border-left: none;
    border-bottom: none;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 600;
    background-color: #fff; }
    .field__item .borders {
      position: absolute;
      width: calc(100% + 2px);
      height: calc(100% + 2px);
      top: -1px;
      left: -1px;
      right: -1px;
      bottom: -1px; }
      .field__item .borders__border {
        position: absolute;
        background-color: #000;
        z-index: 50; }
        .field__item .borders__border--top {
          width: 100%;
          height: 2px;
          top: 0;
          left: 0; }
        .field__item .borders__border--right {
          width: 2px;
          height: 100%;
          top: 0;
          right: 0; }
        .field__item .borders__border--bottom {
          width: 100%;
          height: 2px;
          left: 0;
          bottom: 0; }
        .field__item .borders__border--left {
          width: 2px;
          height: 100%;
          top: 0;
          left: 0; }
    .field__item--active {
      background: green; }
      .field__item--active .borders__border {
        background: red;
        z-index: 100; }
    .field__item--empty {
      font-size: 0;
      background-color: gray; }
      .field__item--empty .borders__border {
        background: gray;
        z-index: 40; }
    .field__item.rm-top .borders__border--top {
      background-color: green; }
    .field__item.rm-bottom .borders__border--bottom {
      background-color: green; }
    .field__item.rm-left .borders__border--left {
      background-color: green; }
    .field__item.rm-right .borders__border--right {
      background-color: green; }

.test {
  width: 40px;
  height: 40px;
  margin-top: 100px;
  border: 2px solid green; }

/*# sourceMappingURL=style.css.map */
